/* CSS RESET */
    /* 1. Use a more-intuitive box-sizing model */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* 2. Remove default margin */
    * {
        margin: 0 auto;
    }

    body {
        /* 3. Add accessible line-height */
        line-height: 1.5;
        /* 4. Improve text rendering */
        -webkit-font-smoothing: antialiased;
    }

    /* 5. Improve media defaults */
    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }

    /* 6. Inherit fonts for form controls */
    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    /* 7. Avoid text overflows */
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }

    /* 8. Improve line wrapping */
    p {
        text-wrap: pretty;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
    }

    /*
  9. Create a root stacking context
*/
    #root,
    #__next {
        isolation: isolate;
    }

    /* --CSS RESET-- */

    html {
        height: 100%;
    }

    body {
        min-height: 100%;
        text-align: center;
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    

    header {
        height: 100px;
    }

    main {
        flex: 1;
    }

    .content img {
        border-radius: 50%;
        width: 100px;
    }

    footer {
        height: 100px;
        bottom: 0;
        border-top: 1px solid black;
        align-items: center;
    }